<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Users</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">
</head>

<body>
    <div class="container">
        <h2>Manage Users</h2>
        <div class="forms-container">
            <form id="add-user-form" class="form">
                <h3>Add User</h3>
                <div class="form-group">
                    <label for="add-username">Username:</label>
                    <input type="text" id="add-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="add-password">Password:</label>
                    <input type="password" id="add-password" name="password" required>
                </div>
                <div class="form-group">
                    <label for="add-master_password">Master Password:</label>
                    <input type="password" id="add-master_password" name="master_password" required>
                </div>
                <input type="submit" value="Add User">
            </form>
            <form id="delete-user-form" class="form">
                <h3>Delete User</h3>
                <div class="form-group">
                    <label for="delete-username">Username:</label>
                    <input type="text" id="delete-username" name="username" required>
                </div>
                <div class="form-group">
                    <label for="delete-master_password">Master Password:</label>
                    <input type="password" id="delete-master_password" name="master_password" required>
                </div>
                <input type="submit" value="Delete User">
            </form>
        </div>
        <div id="error-message" class="error-message"></div>
        <div id="success-message" class="success-message"></div>

    </div>

    <script src="/static/script.js"></script>
</body>

</html>